<!DOCTYPE html>
<html>
<head>
    <title>CRUD App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav class="navbar">
    <div class="logo">CRUD App</div>

    <div class="nav-links">
        {% if user.is_authenticated %}
            <a href="/">Home</a>
            <a href="/create/">Add</a>

            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        {% else %}
            <a href="/login/">Login</a>
            <a href="/signup/">Signup</a>
        {% endif %}
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>